*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.checkout-layout{
    display: grid;
    grid-template-columns:70% 28%;
    justify-content: space-between;
  margin:10px;
  /* border:1px solid black; */
}
.input-layout{
    width:100%;
    /* border:1px solid black; */
    justify-content: space-between;
}
.text-area{
    text-align: center;
    gap: 20px;
}
#inputs-layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input-boxa{
    width: 100%;
    height: 35px;
}
.input-box{
    width: 100%;
    height: 35px;
     gap: 20px;
}
.inpu {
display: grid;
grid-template-columns: auto auto;
grid-template-rows: auto auto ;
    gap: 20px;
}
.selector-box{
    width: 100%;
    /* display: grid;
    grid-template-rows: 100%; */
    row-gap: 20px;
    justify-content: space-between;
}
.header-selector{
    display: grid;
    grid-template-columns:33% 33% 33%;
    row-gap: 20px;
} 
#price-layout{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
#price-layout>button{
    width: 90%;
    background-color: black;
    color: white;
    height: 30px;
    border-radius: 5px;
}
#price-layout>button:hover{
    background-color: rgb(163, 158, 158);
}