*{
    margin: 0;
    padding: 0;
}


/* typography */


/* images */
img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border: 1px solid;
}
.icon{
    width: 2rem;
}

.full{
    width: 100%;
    
}

.padOne{
    padding: 1rem;
}

/* flex */
.flex{
    display: flex;
}

#aside-img-parent{
    width: 60px;
}
#main-img-parent{
    width: calc(100%-60px);
    height: 40vw;
    overflow: hidden;
   
   
    margin: 1rem auto;
}
#main-img-parent img{
    width: 600px;
  
   
}
#display{
    width: calc(100%-900px);
    
}
#purchase{
    width: 900px;
}

/* grid */


#check{
    border: 5px solid
}




.b{
    border: 1px solid red;
    margin: 1rem;
    padding: 1rem;
}